Repository PUGroups/beginners-arena, pull requests merged in 2022-11, with the labels that each got.

#11 Portfolio website
  projects-list.md
Labels: invalid, project addition

#13 Add doggo select
  projects-list.md
Labels: project addition

#18 add public API requests
  projects-list.md
Labels: project addition

#12 Add corporate intranet
  projects-list.md
Labels: project addition

#25 chore: add 5+ Arunima Chaudhuri projects
  projects-list.md
Labels: project addition

#26 Added PDF Reader by Rushikesh Suryawanshi
  projects-list.md
Labels: project addition

#28 Fixes: No guide for joining the org in Readme #27
  README.md
Labels: documentation
