Repository PUGroups/beginners-arena, pull requests merged in 2022-10, with the labels that each got.

#9 Add Hacktoberfest notice
  README.md
Labels: documentation, invalid

#8 Add my project.
  projects-list.md
Labels: invalid, project addition

#10 Add RSVP App
  projects-list.md
Labels: project addition
